<p id="notice"><%= notice %></p>

<h1>Catalogs</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Folder</th>
      <th>Name</th>
      <th>Characteristic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogs.each do |catalog| %>
      <tr>
        <td><%= catalog.id %></td>
        <td><%= catalog.folder %></td>
        <td><%= catalog.name %></td>
        <td><%= catalog.characteristic %></td>
        <td><%= link_to 'Show', catalog %></td>
        <td><%= link_to 'Edit', edit_catalog_path(catalog) %></td>
        <td><%= link_to 'Destroy', catalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalog', new_catalog_path %>
<%= link_to 'Back', root_path %>
